<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>admin page</title>
  </head>
  <body>
    <h1>admin space</h1>
    <form method="post">
<label>youtube link: </label>
<input type="text" name="link" value="">
<input type="submit" >
    </form>
  <a href="{{url_for('logout')}}">dang xuat</a>  
<hr>
<table border="1px">
  <thead>
    <th>STT</th>
    <th>Tên</th>
    <th>Views</th>
    <th>Photo</th>
  </thead>
  <tbody>

      {% for video in videos %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{video.title}}</td>
          <td>{{video.views}}</td>
          <td>
            <img src="  {{video.thumbnail}}" width="200px" height="130px" alt="">
          </td>
        </tr>
        {% endfor %}
  </tbody>
</body>

</html>
