<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>new service</title>
  </head>
  <body>
    <h1>them nhan vien moi</h1>
    <form method="post">
      <!-- #gui 1 method voi request la post ve de bao mat thong tin -->
<label>ten: </label>
<input type="text" name="name" value="service.nam">   #chu y

<label>nam sinh: </label>
<input type="number" name="yob" value="">

<label>dia chi: </label>
<input type="text" name="address" value="">

<input type="submit">
    </form>
  </body>
</html>
