<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>chi tiet</title>
  </head>
  <body>

    <img src= "{{hola.image}}" alt="ảnh bị lỗi!">
    <p> Tên: {{hola.name}}</p>
    <p>Năm sinh: {{hola.yob}}</p>
    <p>Chiều cao: {{hola.height}}</p>
    <p>Số điện thoại: {{hola.phone}}</p>
    <p>Địa chỉ: {{hola.address}}</p>
    <p>Mô tả: {{hola.description}}</p>
    <p>Số đo 3 vòng: {{hola.measurements}}</p>
<a href="{{url_for('order')}}">Yêu cầu dịch vụ</a><br>
<a href="{{url_for('logout')}}">Đăng xuất</a>
  </body>
</html>
