<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Đăng nhập</title>
  </head>
  <body>
  <h1>Đăng nhập</h1>

  <form  method="post">
    <label>Tài khoản: </label>
    <input type="text" name="username" value=""> <br><br>
    <label>Mật khẩu: </label>
    <input type="password" name="password" value=""> <br><br>
    <input type="submit" value="Đăng nhập">

  </form>
  <p>_____________________________________________________________________</p>
  <p>Nếu chưa có tài khoản, đăng ký tại <a href="http://127.0.0.1:5000/sign-up">đây</a> !</p>
  </body>
</html>
