<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>new service</title>
  </head>
  <body>
    <h1>them nhan vien moi</h1>
    <form method="post">
      <!-- #gui 1 method voi request la post ve de bao mat thong tin -->
<label>Họ và tên: </label>
<input type="text" name="name" value=""><br><br>

<label>Năm sinh: </label>
<input type="number" name="yob" value=""><br><br>

<label>Chiều cao: </label>
<input type="number" name="height" value=""><br><br>

<label>Số điện thoại: </label>
<input type="text" name="phone" value=""><br><br>

<label>Địa chỉ: </label>
<input type="text" name="address" value=""><br><br>

<label>Mô tả: </label>
<input type="text" name="description" value=""><br><br>

<label>Số đo 3 vòng: </label>
<input type="text" name="measurements" value=""><br><br>

<form action="">
  <input type="radio" name="gender" value= 1> Nam<br><br>
  <input type="radio" name="gender" value= 0> Nữ<br><br>
<br><br>

<input type="submit" value="Nhập">
    </form>
  </body>
</html>
