<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>new service</title>
  </head>
  <body>
    <h1>them nhan vien moi</h1>
    <form method="post">
      <!-- #gui 1 method voi request la post ve de bao mat thong tin -->
<label>ten: </label>
<input type="text" name="name" value="Dinh Cong Quy"><br><br>

<label>nam sinh: </label>
<input type="number" name="yob" value="1998"><br><br>

<label>chieu cao: </label>
<input type="number" name="height" value="1m80"><br><br>

<label>so dien thoai: </label>
<input type="text" name="phone" value="0962834394"><br><br>

<label>dia chi: </label>
<input type="text" name="address" value="Hanoi"><br><br>

<label>mo ta: </label>
<input type="text" name="description" value="ngoan ngoan, hien lanh"><br><br>

<form action="">
  <input type="radio" name="gender" value= 1> Male<br><br>
  <input type="radio" name="gender" value= 0> Female<br><br>
<br><br>

<input type="submit" value="gui">
    </form>
  </body>
</html>
